header {
    position: sticky;
    top: 0;
    background-color: rgb(228 184 229 / 50%);
    backdrop-filter: blur(4px);
    z-index: 9;
}

#header__logo {
    width: 100px;
}

#home {
    background-image: linear-gradient(#fdfdfe 0%, #d3bee3 100%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    max-width: 100px;
    width: 100%;
}

.home__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.home__imgs {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.home__imgs img {
    max-width: 300px;
    min-width: 178px;
    width: 100%;
}

.home__c-btns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home__btns {
    max-width: 200px;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    background-color: #7a45a3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.home__btns a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    color: #fdfdfe;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;
}

.home__btns a:hover {
    transform: scale(1.2);
    transition: all .3s;
}

.home__btns a img {
    max-width: 56px;
    width: 100%;
}

#services {
    background-image: linear-gradient(#D3BEE3 0%, #ebe4ef 20%, #f8effd 100%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 8rem 5rem 5rem;
}

#services p {
    color: #4F544B;
}

.services__leaves {
    background-image: url(../assets/leaves.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: right center;
    position: absolute;
}

.services__header {
    text-align: center;
}

.services__header h2 {
    color: #9c83b1;
    font-size: clamp(2.9rem, 5vw, 4rem)
}

.services__header p {
    font-size: clamp(1.4rem, 2vw, 1.7rem);
}

.services__cards {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    row-gap: 13rem;
    column-gap: 10vw;
}

.services__card {
    max-width: 200px;
    width: 100%;
    min-height: 211px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.services__card>div {
    width: 150px;
    height: 150px;
    background-color: #8C6EBA;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}


.services__card>div>img {
    max-width: 100px;
}

#meet-us {
    background: #FFFFFF url(../assets/meetUsDegradê.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 130vh;
    padding-top: 8rem;
}

.meet-us__transition {
    width: 100%;
    min-height: 10vh;
    background-image: linear-gradient(#F7EEFC 50%, transparent 100%);
    position: absolute;
    top: 0;
    z-index: 1;
}

#meet-us h2 {
    font-size: clamp(2.9rem, 5vw, 4rem);
    color: #9482ae;
    font-weight: bolder;
}

#carouselTrilhaVioleta {
    width: 65%;
    border-radius: 20px;
}

#carouselTrilhaVioleta img {
    border-radius: 20px;
    min-height: 70vh;
    max-height: 70vh;
    object-fit: cover;
    object-position: center;
}

.carousel-inner {
    border-radius: 20px;
    min-height: 90vh;
    overflow-x: hidden;
    overflow-y: visible;
}

.carousel-caption {
    bottom: -12rem;
    color: #000;
}

.carousel-caption h5 {
    font-size: 2rem;
    color: #a9ada3;
}

.carousel-caption p {
    font-size: 1.6rem;
    color: #745469;
}

.carousel-control-next, .carousel-control-prev {
    top: 40%;
    height: fit-content;
}

#about-us {
    background-color: #886A9C;
    padding: 5rem 0;
    color: #FFFFFF;
    padding-top: 8rem;
}

.c-about {
    display: flex;
    flex-flow: row nowrap;
}

.c-about__content {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
}

.c-about__content h2 {
    font-size: 4.5rem;
}

.c-about__content p {
    font-size: 1.8rem;
}

.c-about__img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.c-about__img span {
    background-color: #9770b3;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0.4rem;
    padding: 0.5rem;
}

.c-about__img img {
    width: 100%;
}

#bedrooms {
    background: #E2B8E7 url(../assets/bedrooms.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem 0;
}

#bedrooms h2 {
    font-size: 6.5rem;
    color: #533a66;
    font-weight: bolder;
}

.c-bedrooms {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 7rem;
}

.c-bedrooms__card {
    color: var(--white);
    background-color: #9770b3;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.c-bedrooms__card>img {
    border-radius: 8px;
}

.c-bedrooms__card>button {
    color: #fff;
    letter-spacing: 0.25rem;
    font-size: 1.4rem;
    background-color: #9754bf;
    padding: 0.25rem 2rem;
    border: 2px solid #7a45a3;
    border-radius: 8px;
    transition: all .3s;
}

.c-bedrooms__card>button:hover {
    background-color: #7a45a3;
    transition: all .3s;
}

#FAQ {
    background-image: linear-gradient(150deg, #dbc2e9 0%, #f4ecf8 20%, #dbc2e9 120%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

#FAQ h2 {
    color: #533a66;
    font-size: clamp(2rem, 5vw, 6rem);
    font-weight: bolder;
}

#FAQ>div {
    min-width: 85%;
    width: 100%;
}

#accordionFAQ {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.accordion-item {
    font-size: clamp(1.7rem, 4vw, 2rem);
    color: #fff;
    background-color: #9770b3;
}

.accordion-item button {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #fff;
    background-color: #9770b3;
    border: none;
}

.accordion-item button.accordion-button:not(.collapsed) {
    color: #fff;
    border: none;
    background-color: #9770b3;
}

.accordion-item button.accordion-button:focus, .accordion-item button.accordion-button:focus-visible, .accordion-item button.accordion-button:active {
    border: none;
    outline: 0;
    box-shadow: none;
}

.accordion-body ul {
    list-style: disc;
    padding-left: 4rem;
}

#find-us {
    background-image: linear-gradient(160deg, #f6f0fa 0%, #e9daf1 50%, #f6f0fa 120%);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 120vh;
}

#find-us h2 {
    color: #533a66;
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: bolder;
}

.find-us__transition {
    width: 100%;
    min-height: 20vh;
    background-image: linear-gradient(#ECDFF3 0%, #E3CFEE 30%, #ECDFF3 100%);
    position: absolute;
    top: -10rem;
    filter: blur(20px);
}

iframe {
    border-radius: 20px;
    width: 60vw;
    height: 35vw;
}

.find-us__btn {
    border: none;
    font-size: 2rem;
    background-color: #9770b3;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    transition: all .3s;
}

.find-us__btn:hover {
    background-color: #533a66;
    transition: all .3s;
}
